@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
}

.hero-container {
  background-color: #1f2937;
  padding: 20px 250px 125px 125px;
}

.header {
  display: flex;
  padding: 0 0 125px 0;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero-content {
  display: flex;
  gap: 50px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.hero-text > p1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero-text > p2 {
  font-size: 18px;
  color: #e5e7eb;
}

.links {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #f9faf8;
}

button {
  padding: 10px;
  margin: 10px 0 0 0;
  width: 125px;
  border-radius: 25px;
  border: 0;
  background-color: #3882f6;
}